.features_cards{
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    position: absolute;
    
    
}

.all_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    
}

.features_cards .all_cards .card{
    width: 350px;
    height: 400px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
}

.features_cards .all_cards .card{
    margin: 30px;
    cursor: pointer;
    transition: 0.2s ease;
}

.card img{
    height: 100%;
}

.features_cards .all_cards .card:hover{
    width: 360px;
    height: 410px;
    box-shadow: 2px 4px 6px rgb(63, 56, 56);
}

.features_cards .all_cards .card .offer{
    position: absolute;
    height: 30px;
    width: 70px;
    border-radius: 30px;
    background-color: #93777700;
    z-index: 999;
    margin-top: 30px;
    align-items: center;
    font-weight: bold;
}
.features_cards .all_cards .card .offer h6{
    font-weight: bold;
    font-size: 18px;
}