.common-main{
  display: flex;
  
}
.patient__section{
  background-image: url(../commonComponentsAssets/patientlogin.jpg);
  background-size: cover;
  background-position: center;
  
  width: 33%;
  margin: 2px;
  height: 100vh;

}
.patient__section button{
  
  width: auto;
  height: auto;
  margin-top: 70%;
  margin-left: 45%;
  border-radius: 30px;
  padding: 5px;
  background-color: #fa6400;
  border: 1px solid transparent;
  
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
 
}

.patient__section button:hover,
.patient__section button:focus{
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}


.patient__section button:hover {
  transform: translateY(-1px);
}

.patient__section button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.doctor__section button:hover,
.doctor__section button:focus{
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}


.doctor__section button:hover {
  transform: translateY(-1px);
}

.doctor__section button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.admin__section button:hover,
.admin__section button:focus{
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}


.admin__section button:hover {
  transform: translateY(-1px);
}

.admin__section button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.link{
  text-decoration: none;
  color: black;
}
.doctor__section button{
  
  width: auto;
  height: auto;
  margin-top: 70%;
  margin-left: 45%;
  border-radius: 30px;
  padding: 5px;
  background-color: #fa6400;
  border: 1px solid transparent;
  
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}
.admin__section button{
  
  width: auto;
  height: auto;
  margin-top: 70%;
  margin-left: 45%;
  border-radius: 30px;
  padding: 5px;
  background-color: #fa6400;
  border: 1px solid transparent;
  
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}
.doctor__section{
  background-image: url(../commonComponentsAssets/doctorlogin.jpg);
  background-size: cover;
  width: 33%;
  margin: 2px;
  height: 100vh;
}
.admin__section{
  background-image: url(../commonComponentsAssets/dashboard.jpg);
  background-size: cover;
  background-position: center;
  width: 33%;
  margin: 2px;
  height: 100vh;
}
